<div class="row">
  <div class="col-md-6">
    <form
      [formGroup]="productForm"
      class="form-wrapper"
      (ngSubmit)="saveProduct()"
    >
      <div class="form-group">
        <label for="title">{{ label.TITLE }}</label
        ><input
          formControlName="title"
          id="title"
          type="text"
          class="form-control"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors.required">
            {{ error.TITLE_REQUIRED }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">{{ label.PRICE }}</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            formControlName="price"
            id="price"
            type="number"
            class="form-control"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            {{ error.PRICE_REQUIRED }}
          </div>
          <div *ngIf="price.errors.min">
            {{ error.PRICE_INVALID }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">{{ label.CATEGORY }}</label
        ><select formControlName="category" id="category" class="form-control">
          <option value=""></option>
          <option
            *ngFor="let category of categoriesObservable | async"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          <div *ngIf="category.errors.required">
            {{ error.CATEGORY_REQUIRED }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">{{ label.IMAGE_URL }}</label
        ><input
          formControlName="imageUrl"
          id="imageUrl"
          type="url"
          class="form-control"
          [pattern]="URL_PATTERN"
        />
        <div
          class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid"
        >
          <div *ngIf="imageUrl.errors.required">
            {{ error.IMAGE_URL_REQUIRED }}
          </div>
          <div *ngIf="imageUrl.errors.pattern">
            {{ error.IMAGE_URL_INVALID }}
          </div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="productForm.invalid">
        {{ saveProductButtonText }}
      </button>
      <button
        id="deleteButton"
        type="button"
        (click)="deleteProduct()"
        class="btn btn-danger"
      >
        {{ deleteProductButtonText }}
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <div id="productCard" class="card">
      <img [src]="imageUrl.value" class="card-img-top" *ngIf="imageUrl" />
      <div class="card-body">
        <h5 class="card-title">{{ title.value }}</h5>
        <p class="card-text">
          {{ price.value | currency: 'USD' }}
        </p>
      </div>
    </div>
  </div>
</div>
