table {
  width: 100%;
}
.mat-header-cell {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #000000;
}
.mat-column-title {
  flex: 0 0 50%;
  width: 50%;
}
.mat-column-action {
  flex: 0 0 15% !important;
  width: 15% !important;
}

tr.mat-row:hover {
  background-color: lightgray;
}
